<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @subject.abbreviation %>
</p>

<p>
  <strong>Id:</strong>
  <%= @subject.id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @subject.type %>
</p>

<p>
  <strong>Term:</strong>
  <%= @subject.term %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) , class:"btn btn-outline-primary"%> |
<%= link_to 'Back', 'javascript:history.back()' , class:"btn btn-outline-primary"%>
