<h1>Search Result</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Description</th>
    <th>Subjects</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.name, course %></td>
      <td><%= course.code %></td>
      <td><%= course.description %></td>
      <td><%= course.subjects.map {|x| x.name}.join "," %></td>
      <td>
        <% if course.users.where(id: session["user_id"]).size < 1 %>
          <%= link_to 'Enroll', "/enroll/#{course.id}", method: "post", class: "btn btn-outline-primary" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

